<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Welcome to my Blog</h1>
    <p class="col-md-8 fs-4">bla bla, bla</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @articles.each do |article| %>
      <% unless article.archived? %>
        <div class="col-4">
          <%= link_to article.title, article %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<ul>

</ul>

<%#= link_to "New Article", new_article_path %>
